body,
html {
    width: 100%;
    height: 100%;
    /* background-color: #ffffff;  */
    background:#333;
}
.content{
    width: 100%;
    min-width: 12rem;
}
.banerimg{ 
    width: 100%;
    /* display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 1.6rem;
    position: relative;
    overflow: hidden;
}
.banerimg video,
.banerimg img{
    position: absolute; 
    width: 120%; 
    height: 1.5rem;
    left: 0;
    top: 0;
}
.banerimg video{ 
    object-fit: fill;
    border: none;
}
.banerimg img.tr{
    z-index: 12;
}
.logo{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    width: 2rem;
    display: inline-block; 
}
.logo a img{
    width: 100%;
}

/* banner */
.mui-slider{
    width: 100%;
    height: 3rem;
    border: 1px solid #ffffff;
}